.row 
  .small-2.columns
    %span.tag-header
      Tags
    %span.tag-filter-hint 
      Auswählen zum Filtern
    %ul.side-nav
      - @tags.map do |tag|
        %li
          =link_to tag.name, {controller: 'notes', action: 'index', id: tag.id }, class: 'tag-list-item'

  .small-8.columns
    #note-input-form
      = render 'form'
    %ul#notes-list
      = render @notes
  .small-2.columns
    #selected-tags
      %span.tag-header
        Ausgewählte Tags
      %span.tag-filter-hint 
        Aufheben durch Klicken
      %ul.side-nav
        - @selected_tags.map do |sel_tag|
          %li
            =link_to sel_tag.name, {controller: 'notes', action: 'index', remove_id: sel_tag.id}, class: 'tag-list-item'