#tag-list
  list-style-type: none
  display: inline-block
  
  margin-top: 1em

.tag-list-item
  background-color: #FDFDFD
  padding-left: 5px 
  word-wrap: break-word

#note-input-form
  margin-top: 15px
  padding: 10px
  background-color: #FAFAFA
  box-shadow: 0px 2px 8px #AAA
  border-radius: 5px
  .button
    margin-bottom: 0
  form
    margin-bottom: 0

.notes-list-item
  display: block
  background-color: #F9FAE8
  padding: 10px
  border-color: #F7E1B2
  border-width: 1px
  border-style: solid
  margin-top: 10px
  margin-bottom: 10px
  font-size: 14px
  box-shadow: 0px 2px 4px #AAA


