#tag-list
  list-style-type: none
  display: inline-block
  
  margin-top: 1em

.tag-list-item
  background-color: #FDFDFD
  padding-left: 5px 
  word-wrap: break-word

#note-input-form
  margin-top: 15px
  padding: 10px
  background-color: #FAFAFA
  .button
    margin-bottom: 0
  form
    margin-bottom: 0

.notes-list-item
  display: block
  background-color: #F7F6D0
  padding: 10px
  border-color: #E8C476
  border-width: 1px
  border-style: solid
  border-radius: 5px
  margin-top: 15px
  margin-bottom: 15px
  font-size: 14px


